/*** RECETAS SECTION ***/

#recipes-section {
    text-transform: uppercase;

    .recipes-tittle {
        font-style: italic;   
        text-transform: uppercase;
    }

    .recipes-subtittle {
        border-radius: 10px;
    }

    .list {
        list-style-position: inside;
    }

    .steps {
        list-style-position: inside;
    }
    
}











